@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.ttf);
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: lightgray;
}

::selection {
  color: white;
  background: lightgray;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans';
    font-weight: 900;
    font-kerning: none;
}

#loader{
  position: fixed;
  width: 100%;
  height: 100%;
  background: white url(images/3dgifmaker19056.gif) center no-repeat;
  z-index: 9999;
}

#separador {
  height: 10vh;
}

header {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    z-index: 999;
    border: 1px solid transparent;
}

.headerLft i {
    padding: 0 0.5em;
    text-decoration: none;
    color: #107bbf;
    cursor: pointer;
    transition: 0.2s;
    display: none;
}

.headerLft i:hover {
    color: #109bbf;
}

.headerLft a {
    padding: 0 0.5em;
    text-decoration: none;
    color: #107bbf;
    transition: 0.2s;
}

.headerLft a:hover {
    color: #109bbf;
}

.headerLft img {
    width: 30px;
}

.headerRght a{
    padding: 0 0.2em;
    text-decoration: none;
    color: #107bbf;
    transition: 0.2s;
    display: none;
}

.headerRght button{
  padding: 0 0.2em;
  text-decoration: none;
  color: #107bbf;
  transition: 0.2s;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.headerRght a:hover {
    color: #109bbf;
}

.subnav {
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 998;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.subnav a {
text-decoration: none;
padding: 16px;
color: #107bbf;
font-weight: 900;
font-size: 15px;
cursor: pointer;
transition: 0.3s;
}

.subnav a:hover {
color: #109bbf;
}

.subnav .scrolled{
  display: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropbtn {
background-color: transparent;
color: #107bbf;
font-weight: 900;
font-size: 15px;
padding: 16px;
border: none;
}

.dropdown-content {
display: none;
position: absolute;
background-color: white;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 1em;
}

.dropdown-content a {
color: #107bbf;
padding: 12px 16px;
text-decoration: none;
display: block;
border-radius: 1em;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

#aLogin-nav {
  display: flex;
}

#loginNav {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  border: 2px solid #107bbf;
  border-radius: 1em;
  transition: 0.3s;
}

#loginNav:hover {
  background-color: #107bbf;
  color: white;
}

#loginNav p {
  margin: 0;
  padding-left: 10px;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  color: #107bbf;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: fit-content; 
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-content div {
  display: flex;
  justify-content: center;
}

.modal-content a {
  text-decoration: none;
  text-align: center;
  border: 2px solid #107bbf;
  border-radius: 0.6em;
  background-color: #107bbf;
  color: white;
  width: 50%;
  margin-right: 0.5em;
  transition: 0.3s;
}

.modal-content a:hover {
  border-color: #109bbf;
  background-color: #109bbf;
}

.modal-content span {
  text-decoration: none;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 0.6em;
  background-color: lightgray;
  color: white;
  transition: 0.3s;
  width: 50%;
  cursor: pointer;
}

.modal-content span:hover {
  background-color: darkgray;
  border-color: transparent;
}

#aRemove {
  color: white;
  cursor: pointer;
}

.boasVindas-div {
    width: 100%;
    padding-top: 10vh;
}

.sidenav {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  z-index: 999;
  top: 0;
  left: -400px;
  padding-top: 60px;
  background-color: white;
  border-top-right-radius: 1em;
  transition: 0.5s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: #107bbf;
}

.topList {
  list-style: none;
  padding-left: 0;
}

.topList a{
  padding: 0.3em 1em;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid white;
  margin: 0.5em;
  border-radius: 0.5em;
  color: #107bbf;
  display: block;
  transition: 0.3s;
}

.topList a:hover {
  background-color: #107bbf;
  color: white;
}

.bottomList {
  position: absolute;
  bottom: 0;
  width: 100%;
  list-style: none;
  padding-left: 0;
}

.bottomList a {
  text-decoration: none;
  color: white;
  border: 2px solid #107bbf;
  border-radius: 0.5em;
  background-color: #107bbf;
  padding: 0.3em 1em;
  font-size: 15px;
  margin: 0.5em;
  display: block;
  transition: 0.3s;
}

.bottomList a:hover {
  background-color: #109bbf;
  border-color: #109bbf;
}

#semNoticias {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #107bbf;
  font-weight: bold;
}

#boas-vindas {
    width: 100%;
    object-fit: cover;
}

#boas-vindasMobile {
    display: none;
}

#quemSomos {
  margin-bottom: 2em;
}

#col1_qs h3 {
  color: #107bbf;
  font-size: 50px;
  font-weight: 900;
  outline: 1em #107bbf;
}

#col1_qs p {
  color: #109bbf;
}

#col1_qs span {
  color: #107bbf;
}

#col2_qs p {
  color: #109bbf;
}

#sectionNoticias {
  width: 100%;
  height: fit-content;
}

.divCards-News {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

#arLeft, #arRight {
  position: absolute;
  font-size: 30px;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  cursor: pointer;
}

#arLeft {
  left: 5%;
  z-index: 3;
}

#arRight {
  right: 5%;
  z-index: 3;
}

.cardNoticias {
  width: 100%;
  height: 500px;
  border: 2px solid transparent;
  overflow: hidden;
  position: relative;
}

.cardNoticias img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.containerNews {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  opacity: 0;
  z-index: -1;
  transition: opacity 1s ease-in-out;
}

.containerNews.active {
  opacity: 1;
  z-index: 2;
  position: relative;
}

.centered {
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.centered p {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.map {
  z-index: 0;
  border-image: 1px solid transparent;
  border-radius: 1em;
  transition: 0.4s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
   filter: grayscale(100%);
}

.map:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
   filter: grayscale(0%);
}

#h1Maps {
  font-weight: 900;
   color: #107bbf;
   cursor: default;
   transition: 0.2s;
   
}

#pMaps {
   color: darkgray;
   transition: 0.2s;
   
}

#pMap2 {
    color: lightgray;
    
}

#h1Maps:hover {
    color: #107bbf;
}

.loginDiv {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/headerBg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.formLogin {
    width: fit-content;
    border: 2px solid transparent;
    border-radius: 1em;
    background-color: white;
    color: #107bbf;
    padding: 1.5em;
    margin: 5em 0;
}

.formLogin h3 {
  text-align: center;
  font-size: 35px;
  font-weight: 900;
}

.formLogin label {
    font-weight: 900;
}

.formLogin input {
    border: 2px solid transparent;
    border-radius: 0.6em;
    background-color: lightgray;
    padding: 0.5em;
    width: 400px;
    transition: 0.2s;
}

.formLogin textarea {
    border: 2px solid transparent;
    border-radius: 0.6em;
    background-color: lightgray;
    padding: 0.5em;
    width: 100%;
    transition: 0.2s;
}

#passVisibilidade {
    transition: 0.2s;
    cursor: pointer;
}

#passVisibilidade:hover {
    color: #109bbf;
}

#submitBtn {
    width: 100%;
    border: 2px solid transparent;
    background-color: #107bbf;
    color: white;
    font-weight: 900;
    transition: 0.2s;
}

#submitBtn:hover {
    background-color: #109bbf;
}

.bannerContactos {
  width: 100%;
  text-align: center;
  background-image: url(images/bgBlur.png);
  background-size: cover;
  padding: 2.5em 1em;
}

.bannerContactos h1{
  color: white;
  font-size: 50px;
  font-weight: 900;
}

.contactosDiv {
  height: 45vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.cardContactos {
  margin: 1em 0;
}

.cardContactos i {
  font-size: 20px;
  color: #107bbf;
}

.cardContactos hr {
  width: 30%;
  margin: 0 auto;
  margin: 1em auto;
  border: 2px solid #107bbf;
  border-radius: 4em;
  background-color: #107bbf;
  opacity: 1;
}

.cardContactos a {
  font-size: 13px;
  text-decoration: none;
  color: white;
  border: 2px solid #107bbf;
  border-radius: 0.6em;
  padding: 0.2em 1em;
  background-color: #107bbf;
  transition: 0.3s;
}

.cardContactos a:hover {
  background-color: #109bbf;
  border-color: #109bbf;
}

.containerContactos p{
  color: #109bbf;
}

.noticiaBody {
  width: 100%;
  min-height: fit-content;
  box-sizing: border-box;
}

.noticiaBody h3 {
  font-size: 50px;
  font-weight: 900;
  color: #107bbf;
}

.noticiaImg {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 70vh;
  overflow: hidden;
}

.noticiaImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.noticaImgContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  color: white; 
  padding: 10px;
}

#artigoTitle {
  margin: 0.5em 0;
}

#introH4, #descricaoH4 {
  color: darkgray;
  font-weight: bold;
}

.textNoticia {
  color: lightgray;
}

#imgNoticia, #ficheiro {
  background-color: transparent;
  color: darkgray;
  border: none;
}

#dataPublicacao {
  font-size: 15px;
  color: #109bbf;
}

#removerBtn {
  color: white;
  background-color: #109bbf;
  border-radius: 0.6em;
  padding: 5px 8px;
  cursor: pointer;
  transition: 0.3s;
}

#removerBtn:hover {
  background-color: #107bbf;
}

.inscricaoDiv {
  height: fit-content;
  display: flex;
  align-items: center;
}

#h4Insc {
  margin: 1em 0;
  font-weight: 900;
  color: #109bbf;
  text-align: left;
}

.pInsc {
  color: lightgray;
  margin: 0;
  text-align: left;
}

#noteInsc {
  color: darkgray;
  font-weight: bold;
  margin-top: 1em;
  
}

#folhaImg {
  object-fit: contain;
  width: 50px;
  height: 80px;
}

footer {
  width: 100%;
  text-align: center;
}

footer img {
  width: 20%;
  text-align: center;
  margin: 1em 0;
}

#footerHr {
    display: flex; 
    border: 4px solid #4e98d2; 
    background-color: #4e98d2; 
    border-radius: 2em; 
    opacity: 1; 
    width: 50%; 
    margin: 0 auto;
}

.footer-basic {
    padding:40px 0;
    height: 10vh;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    transition: 0.2s;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    color: #107bbf;
    text-decoration: none;
    padding: 0 0.5em;
    padding-bottom:25px;
    transition: 0.2s;
  }

  .footer-basic .social > a:hover {
    color: #109bbf;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

 /* General mobile styles (phones and small tablets in portrait and landscape) */
@media only screen and (max-width: 900px) {
 body {
  font-family: "Trebuchet MS", Tahoma, sans-serif;  
}
.headerLft {
  display: flex;
  align-items: center;
}
.headerLft i,
.headerRght,
.headerRght a {
    display: flex;
}
  #aLogin-nav,
  .aLogin-nav,
  #navTitle,
  #bemVindoAdm,
  .subnav,
  #boas-vindas {
      display: none;
  }
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
  .containerNews img {
      width: 100%;
  }
  .boasVindas-div {
      padding-top: 0;
  }
  #boas-vindasMobile {
      display: flex;
      width: 100%;
      object-fit: cover;
  }
  #col1_qs {
      padding: 1rem;
      padding-bottom: 0;
  }
  #col2_qs {
      padding-top: 0;
      padding: 1rem;
  }
  #col1_qs h3 {
      color: #107bbf;
      font-size: 40px;
      font-weight: 900;
  }
  #col1_qs p,
  #col2_qs p {
      font-size: 13px;
      margin: 0;
      font-weight: 900;
  }
  #col2_qs p {
      color: #107bbf;
      outline: 1em #107bbf;
  }
  .map {
      width: 100%;
      padding: 0;
  }
  #h1Maps {
      font-size: 30px;
  }
  .formLogin {
      width: fit-content;
      border: 2px solid transparent;
      border-radius: 0.5em;
      background-color: white;
      color: #107bbf;
      padding: 1.5em;
  }
  .formLogin h3 {
      text-align: center;
      font-size: 25px;
      font-weight: 900;
  }
  .formLogin label {
      font-weight: 900;
  }
  .formLogin input {
      border: 2px solid transparent;
      border-radius: 0.5em;
      background-color: lightgray;
      padding: 0.5em;
      width: 300px;
      transition: 0.2s;
  }
  #passVisibilidade {
      transition: 0.2s;
      cursor: pointer;
  }
  #passVisibilidade:hover {
      color: #109bbf;
  }
  #submitBtn {
      width: 100%;
      border: 2px solid transparent;
      background-color: #107bbf;
      color: white;
      font-weight: 900;
      transition: 0.2s;
  }
  footer img {
      width: 40%;
  }
}

/* Tablets in portrait and landscape, and larger devices */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  header {
      height: 13vh;
  }
  .headerLft, .headerRght {
      display: flex;
      align-items: center;
  }
  .headerLft i,
  .headerRght a {
      display: none;
  }
  #aLogin-nav,
  .aLogin-nav,
  #navTitle,
  #bemVindoAdm,
  .subnav {
      display: flex;
  }
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
  .containerNews img {
      width: 100%;
  }
  .boasVindas-div {
      padding-top: 0;
  }
  #boas-vindas {
      display: flex;
  }
  #boas-vindasMobile {
      display: none;
  }
  #col1_qs {
      padding: 1rem;
      padding-bottom: 0;
  }
  #col2_qs {
      padding-top: 0;
      padding: 1rem;
  }
  #col1_qs h3 {
      color: #107bbf;
      font-size: 30px;
      font-weight: 900;
  }
  #col1_qs p,
  #col2_qs p {
      font-size: 10px;
      font-weight: 900;
  }
  #col2_qs p {
      color: #107bbf;
      outline: 1em #107bbf;
  }
  .map {
      width: 100%;
      padding: 0;
  }
  #h1Maps {
      font-size: 30px;
  }
  .formLogin {
      width: fit-content;
      border: 2px solid transparent;
      border-radius: 0.5em;
      background-color: white;
      color: #107bbf;
      padding: 1.5em;
  }
  .formLogin h3 {
      text-align: center;
      font-size: 25px;
      font-weight: 900;
  }
  .formLogin label {
      font-weight: 900;
  }
  .formLogin input {
      border: 2px solid transparent;
      border-radius: 0.5em;
      background-color: lightgray;
      padding: 0.5em;
      width: 300px;
      transition: 0.2s;
  }
  #passVisibilidade {
      transition: 0.2s;
      cursor: pointer;
  }
  #passVisibilidade:hover {
      color: #109bbf;
  }
  #submitBtn {
      width: 100%;
      border: 2px solid transparent;
      background-color: #107bbf;
      color: white;
      font-weight: 900;
      transition: 0.2s;
  }
  .cardNoticias {
    height: 300px;
  }
  footer img {
      width: 40%;
  }
}

  

